.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
    background-size: cover;
    background-repeat: no-repeat
}

.profile-picture{
	max-width:200px;
	
}

body {
    min-height: 100vh;
    overflow-x: hidden
}

.container {
    margin-bottom: 0px !important;
}

.testimonial-group > .row {
	  display: block;
	  overflow-x: auto;
	  white-space: nowrap;
	}
.testimonial-group > .row > .col-4 {
  display: inline-block;
}

/* Decorations */
.col-4 { color: dark; font-size: 15px; padding-bottom: 5px; padding-top: 10px; }


